.row{
    padding: 12px;
    /*
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: border-box;
    con esto soluciono el problema del margen derecho
    margin-right: auto;
    */
}

div{
    background-color: mediumturquoise;
}
h1{
    text-align: center;
    margin-bottom: 35px;
}

h2{
    text-align: center;
}

h2 , h3{
    display: inline;
}

ul{
    margin-bottom: 20px;
}