<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        
        <ul>
            <li>
                <h2>Trabajo 1 </h2> <h3> año inicio - año fin</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, incidunt corrupti deleniti, sed reiciendis illo minima obcaecati rem amet voluptatum culpa cumque ipsum corporis fugiat necessitatibus. Delectus cupiditate ut veritatis!</p>
        </ul>

        <ul>
            <li>
                <h2>Trabajo 2 </h2> <h3> año inicio - año fin</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, incidunt corrupti deleniti, sed reiciendis illo minima obcaecati rem amet voluptatum culpa cumque ipsum corporis fugiat necessitatibus. Delectus cupiditate ut veritatis!</p>
        </ul>

        <ul>
            <li>
                <h2>Trabajo 3 </h2> <h3> año inicio - año fin</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, incidunt corrupti deleniti, sed reiciendis illo minima obcaecati rem amet voluptatum culpa cumque ipsum corporis fugiat necessitatibus. Delectus cupiditate ut veritatis!</p>
        </ul>


    </div>

</div>


