.row{
    padding: 20px;
    
    /*
    margin-left: 15px;
    box-sizing: border-box;
    con esto soluciono el problema del margen derecho
    margin-right: auto;
    */
}

div{
    background-color: mediumturquoise;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
}

h2 , h3{
    display: inline;
}

h1{
    padding-bottom: 8px;
}