<div class="insignias">
    <a href="https://es-la.facebook.com/" target="_blank"><img src="../../../assets/Facebook_Logo_(2019).png.webp" alt="face" ></a>
    <a href="https://twitter.com/home" target="_blank"><img src="../../../assets/twitter-logo-2-1.png" alt="tw"></a>
    <a href="https://github.com/" target="_blank"><img src="../../../assets/GitHub-Mark.png" alt="GH"></a>
    <a href="https://ar.linkedin.com/" target="_blank"><img src="../../../assets/124011.png" alt="linkedin"></a>
    
</div>

