<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
        <img src="../../../assets/TOPSHOT-FBL-ENG-PR-MAN-UTD-NEWCASTLE-832528c26256236103e804423e238001.webp" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full stack developer junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-7">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos vel delectus adipisci vero obcaecati. Delectus omnis, quibusdam cumque consectetur fuga voluptatibus? Itaque optio perferendis unde commodi aliquam voluptatum in sit.</p>
        </span>
    </div>

</div>

